#top-background-item {
    position: fixed;
    z-index: 1;
    height: 80px;
    margin-top: -150px;
    width: 100%;
    background-color: #a6607c;
}

#back-button {
    position: fixed;
    margin-left: 2%;
    min-width: 100px;
    height: 50px;
    font-size: 20px;
    background-color:#a6607c;
    color: white;
    text-shadow: #000 0px 0px 2px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border:none;
}

#back-button img {
    height: 20px;
    margin-right: 10px;
}

#item-display-container {
    display: flex;
    justify-content: center;
    margin: 150px auto;
    width: 75%;
    max-height: 800px;
    padding: 20px;
    border: 3px solid black;

}
#item-display-container img {
    max-height: 800px;

}

#info-column, #info-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#info-text h1{
    font-size: 70px;
    align-self: center;
    text-decoration: underline;
}

#info-text h2 {
    text-align: center;
    font-size: 50px;
    margin: 0 3%;
}

#buy-row {
    display: flex;
    align-items: flex-end;
    margin-left: 15%;
}

#buy-row button {
    align-self: center;
    margin-top: 60px;
    min-width: 300px;
    height: 75px;
    font-size: 40px;
    background-color:#a6607c;
    color: white;
    text-shadow: #000 0px 0px 2px;
    font-weight: 500;
    cursor: pointer;
    border:none;
}

#buy-row h2 {
    margin-left: 10%;
}

